<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.redmonj9.Shadowrun__Mobile_Character_Sheet">
    <uses-sdk android:minSdkVersion="21"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        
        <activity android:name=".SwipeActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>
</manifest>
